body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
	height: 100vh;
	position: relative;
}
.App > * {
	height: 100%;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;	
	margin: 0 auto;
	width: 75%;
}
@media screen and (min-width: 768px) {
	.content {
		width: 25%;
	}
}
h1 {
	font-size: 10rem;
}
.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.buttons button {
	flex: 0 0 calc(50% - 1rem);
}
.menu {
	padding: 1rem 1.4rem;
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: #000;
	top: 0;
	left: 0;
	transition: margin .3s ease-in-out;
	overflow: scroll;
}
@media screen and (min-width: 768px) {
	.menu {
		overflow: hidden;
	}
}
.opciones {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: .6rem 0 2rem;
}
.opcion {
	height: 3rem;
	width: 3rem;
	cursor: pointer;
	border-radius: 99px;
	margin: 0 .6rem .8rem 0;
}
.visible {
	margin: 0;
}
.oculto {
	margin: 0 0 0 -120%;
}
@media screen and (min-width: 768px) {
	.menu {
		width: 18rem;
	}
	.oculto {
		margin: 0 0 0 -120%;
	}
}